
/* app/globals.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #000000;
  background : #F8F9FA;
  ;
  padding: 2rem;
}

h1 {
  font-size: 3.5rem;
}

